@model List<Entidades.Libro>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Biblioteca</h2>

<main class="container">


    <div class="container d-flex justify-content-around mt-4 mb-4">
        <a href="/Home/IrPrestarLibro" class="btn btn-success">Prestamo</a>
        <a href="/Home/IrDevolucionLibro" class="btn btn-primary">Devolución</a>
        <a href="/Home/IrAgregar" class="btn btn-dark">Agregar</a>
    </div>



    <table id="tablaLibros" class="table table-hover display responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITULO</th>
                <th>AUTOR</th>
                <th>GENERO</th>
                <th>COPIAS</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (Entidades.Libro libro in Model)
            {
                <tr>
                    <th>@libro.idLibro</th>
                    <td>@libro.titulo</td>
                    <td>@libro.autor</td>
                    <td>@libro.genero</td>
                    <td>@libro.copias</td>
                    <td><a href="/Home/IrEditar/@libro.idLibro" class="btn btn-warning">Editar</a></td>
                    <td><a href="/Home/EliminarLibro/@libro.idLibro" class="btn btn-danger">Eliminar</a></td>
                </tr>

            }

        </tbody>
    </table>








</main>


<script>

    document.addEventListener("DOMContentLoaded", function () {
        @if (TempData["msg"] != null)
        {
            <text>
                Swal.fire({
                    icon: 'success',
                    title: '¡Éxito!',
                    text: '@TempData["msg"]',
                    confirmButtonText: 'OK'
                });
            </text>
        }
    });
</script>


